{%extends "user_layout.html"%}
{%block content%}



<body id="myTable">
	<div class="container mt-3">
		<input class="form-control" id="myInput" type="text" placeholder="Search.."><br><br><br>








<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <a href="https://www.manipalhospitals.com/oldairportroad/">  <img src="../static/hosp_images/manipal.jpg" style="width:450px; height:220px;" alt=""></a>
             
                    </div>
                    <div class="card-desc">
                        <h3><center>Manipal Hospital</center></h3><br>
                        <h4><center>1800 102 4647</center></h4><br>
                        <h4><center>Email: info@manipalhospitals.com</center></h4><br>
                        <h4><center>Kodihalli, Bengaluru, Karnataka 560017</center></h4><br>

                        <p></p>
                          <center> <a href="https://www.manipalhospitals.com/oldairportroad/" class="btn-card">Read</a>  </center>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <a href="http://amalaims.org/">  <img src="../static/hosp_images/amala.jpg" style="width:450px; height:220px;" alt=""></a>
             
                    </div>
                    <div class="card-desc">
                        <h3><center>Amala Hospital</center></h3><br>
                        <h4><center>Phone: +91 487 2304000</center></h4><br>
                        <h4><center>Email: info@amalaims.org</center></h4><br>
                        <h4><center>Thrissur, Kerala, India - 680555</center></h4><br>

                        <p></p>
                          <center> <a href="http://amalaims.org/" class="btn-card">Read</a>  </center>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <a href="https://www.gvhcol.com/">  <img src="../static/hosp_images/greenview.jpg" style="width:450px; height:220px;" alt=""></a>
             
                    </div>
                    <div class="card-desc">
                        <h3><center>Greenview Medical</center></h3><br>
                        <h4><center>Phone: 08067927777</center></h4><br>
                        <h4><center>greenviewmedicalcenter@gmail.com</center></h4><br>
                        <h4><center>HSR Layout, Bengaluru 560034</center></h4><br>
                        <p></p>
                          <center> <a href="https://www.gvhcol.com/" class="btn-card">Read</a>  </center>  
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>





<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <a href="https://fortisbangalore.com/location/fortis-hospital-bannerghatta-road-bangalore-karnataka">  <img src="../static/hosp_images/fortis.jpg" style="width:450px; height:220px;" alt=""></a>
             
                    </div>
                    <div class="card-desc">
                        <h3><center>Fortis Hospital</center></h3><br>
                        <h4><center> +91 9663367253</center></h4><br>
                        <h4><center>care.bng@fortishealthcare.com</center></h4><br>
                        <h4><center>Bannerghatta Road, Bengaluru, Karnataka - 560076</center></h4><br>

                        <p></p>
                          <center> <a href="https://fortisbangalore.com/location/fortis-hospital-bannerghatta-road-bangalore-karnataka" class="btn-card">Read</a>  </center>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <a href="https://bangalore.apollohospitals.com/locations/jayanagar/">  <img src="../static/hosp_images/apollo.jpg" style="width:450px; height:220px;" alt=""></a>
             
                    </div>
                    <div class="card-desc">
                        <h3><center>Apollo Hospital</center></h3><br>
                        <h4><center>+91-8046124444</center></h4><br>
                        <h4><center>info@apollohospitals.com</center></h4><br>
                        <h4><center>Jayanagar,Bengaluru, Karnataka 560011</center></h4><br>

                        <p></p>
                          <center> <a href="https://bangalore.apollohospitals.com/locations/jayanagar/" class="btn-card">Read</a>  </center>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <a href="https://www.hosmathospitals.com/">  <img src="../static/hosp_images/hosmat.jpg"  style="width:450px; height:220px;" alt=""></a>
             
                    </div>
                    <div class="card-desc">
                        <h3><center>Hosmat Hospital</center></h3><br>
                        <h4><center>080-2559 3796</center></h4><br>
                        <h4><center> info@hosmathospitals.com</center></h4><br>
                        <h4><center>Magrath Road, Bengaluru, Karnataka-560025</center></h4><br>

                        <p></p>
                          <center> <a href="https://www.hosmathospitals.com/" class="btn-card">Read</a>  </center>  
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>








</div>
</body>
<script>
       $(document).ready(function(){
      $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable p,h1,h2,h3,h4,h5,h6,a,span,div,li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
      });
      });
    </script>

<!-- details card section starts from here -->
<style>
    /* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */
    </style>



{%endblock%}